
table{
    border-collapse: collapse;
    align-items: center;
    border:5px solid;
    border-color: grey black black grey;
    border-left-color: grey;
}
table thead, tbody{
    border:2px black;
}
h1{
    font-style: italic;
}
.second-image{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-bottom: 0px;
    align-items: center;
    object-position: center;
    
}
.first-image{
    padding: 0;
    margin: 0;
    width:120px;
    height: auto;
    border: 5px solid black;
}